lost+skunk <skunky@ebloid.ru> <skunky@macaw.me>
lost+skunk <skunky@ebloid.ru> <me@lost-skunk.cc>
lost+skunk <skunky@ebloid.ru> <skunky@noreply.git.macaw.me>
lost+skunk <skunky@ebloid.ru> skunky <skunky@ebloid.ru>
